.buttonBack {
  margin-left: 20px;

  width: 80px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  gap: 6px;
  background: #6e6969;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  border: none;
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #383535;
}

.buttonBack:active {
  background: #dff2ae;
}
